<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{assets}}/styles.css">
  </head>
  <body>
    <div class="container">
      <section id="validate"></section>

      <hr>
      <!-- pagination -->
      {{pagination pagination modifier="pagination-lg"}}
      <hr>
      {{pagination pagination modifier="pagination-lg justified"}}
      <hr>
      <!-- pagination -->
      {{paginate pagination}}
      <hr>

      <div class="row">
        <div class="col-md-3">
          <div class="bs-sidebar hidden-print" role="complementary">
            <ul class="nav bs-sidenav">
              <!-- navigation -->
              {{navigation pagination}}
              <hr>
              <!-- pagination -->
              {{pager pagination}}
              <hr>
            </ul>
          </div>
        </div>
        <div class="col-md-9" role="main">
          <!-- Content -->
          {{> body }}
        </div>
      </div>


      <!-- Pages -->
      <div class="docs-section">
        <div class="docs-header" id="content">
          <h1>\{{relative}}</h1>
          <h4>Page title: {{ title }}</h4>
        </div>
        <ul class="nav nav-pills nav-stacked">
        {{#each pages}}
          <li{{#is ../page.dest this.dest}} class="active"{{/is}}>
            <a href="{{relative ../page.dest this.dest}}">{{{data.title}}}</a>
          </li>
        {{/each}}
        </ul>
      </div>
      <hr>


      <!-- Pages -->
      <div class="docs-section">
        <div class="docs-header" id="content">
          <h1>\{{rel}}</h1>
          <h4>Page title: {{ title }}</h4>
        </div>
        <ul class="nav nav-pills nav-stacked">
        {{#each pages}}
          <li{{#is ../page.dest this.dest}} class="active"{{/is}}>
            <a href="{{rel ../page.dest}}">{{{data.title}}}</a>
          </li>
        {{/each}}
        </ul>
      </div>
      <hr>


      <!-- Tags Collection -->
      <div class="docs-section">
        <div class="docs-header" id="content">
          <h1>Tags</h1>
        </div>
        {{#each tags}}
          <h4 class="tag">{{tag}}</h4>
          <string>Related Pages</string>
          {{#each pages}}
            <a class="tag label label-info" href="{{relative ../../page.dest this.dest}}">{{{data.title}}}</a>
          {{/each}}
        {{/each}}
      </div>
      <hr>


      <!-- Categories Collection -->
      <div class="docs-section">
        <div class="docs-header" id="content">
          <h1>Categories</h1>
        </div>
        {{#each categories}}
          <h4 class="category">{{category}}</h4>
          <string>Related Pages</string>
          {{#each pages}}
            <a class="category label label-info" href="{{relative ../../page.dest this.dest}}">{{{data.title}}}</a>
          {{/each}}
        {{/each}}
      </div>
      <hr>

    </div>
  </body>
</html>