<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{assets}}/styles.css">
  </head>
  <body>
    <div class="container">
      <section id="validate"></section>

      <!-- page -->
      <div class="docs-section">
        <div class="docs-header" id="content">
          <h1>{{ title }}</h1>
        </div>
        <h>Related pages</h>
        {{#each pages}}
          <!-- page -->
          <ul class="nav nav-pills nav-stacked">
            <li{{#is ../page.dest this.dest}} class="active"{{/is}}>
              <a href="{{relative ../page.dest this.dest}}">{{{data.title}}}</a>
            </li>
          </ul>
        {{/each}}
      </div>

      <!-- page -->
      <div class="docs-section">
        <div class="docs-header" id="content">
          <h1>{{ title }}</h1>
        </div>
        <h>Related pages</h>
        {{#each pages}}
          <!-- page -->
          <ul class="nav nav-pills nav-stacked">
            <li{{#is ../page.dest this.dest}} class="active"{{/is}}>
              <a href="{{rel .}}">{{{data.title}}}</a>
            </li>
          </ul>
        {{/each}}
      </div>

      <!-- Tags Collection -->
      <section id="tags">
        {{#each tags}}
          <h1 class="tag">{{tag}}</h1>
          <ul class="pages">
            {{#each pages}}
              <li class="dest">{{dest}}</li>
              <li class="this dest">{{this.dest}}</li>
              <li class="page dest">{{page.dest}}</li>
            {{/each}}
          </ul>
        {{/each}}
      </section>


      <!-- Pages Collection -->
      <section>
        <ul class="pages">
          {{#each pages}}
            <li class="dest">{{dest}}</li>
            <li class="this dest">{{this.dest}}</li>
            <li class="page dest">{{page.dest}}</li>
          {{/each}}
        </ul>
      </section>

      <!-- Pages Collection -->
      <section>
        <ul class="pages">
          {{#each pages}}
            <li class="../dest">{{../dest}}</li>
            <li class="../this dest">{{../this.dest}}</li>
            <li class="../page dest">{{../page.dest}}</li>
          {{/each}}
        </ul>
      </section>

      <!-- Content -->
      {{> body }}
    </div>
  </body>
</html>