{{#prettify}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{assets}}/styles.css">
  </head>
  <body>
    <section id="tags">
      {{#each tags}}
        <h1 class="tag">{{tag}}</h1>
        <ul class="pages">
          {{#each pages}}
            <li class="dest">{{dest}}</li>
            <li class="this dest">{{this.dest}}</li>
            <li class="page dest">{{page.dest}}</li>
          {{/each}}
        </ul>
      {{/each}}
    </section>
    <section>
      <ul class="pages">
        {{#each pages}}
          <li class="dest">{{dest}}</li>
          <li class="this dest">{{this.dest}}</li>
          <li class="page dest">{{page.dest}}</li>
        {{/each}}
      </ul>
    </section>
    <section>
      <ul class="pages">
        {{#each pages}}
          <li class="../dest">{{../dest}}</li>
          <li class="../this dest">{{../this.dest}}</li>
          <li class="../page dest">{{../page.dest}}</li>
        {{/each}}
      </ul>
    </section>
    {{> body }}
  </body>
</html>
{{/prettify}}